In [2]:
import pandas as pd
import numpy as np

###**1. Create pd.Series**


```
series = pd.Series(data = [list of value], index = [list of keys], name = 'String name')
```

See more [here](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

In [3]:
data = [12, 24, 134]
index = ['a', 'b','c']
name = 'My First Series'
my_series = pd.Series(data = data, index = index, name = name, dtype = 'int64')
my_series

a     12
b     24
c    134
Name: My First Series, dtype: int64

###**2. Basic selection**
There are many ways we can try:

```
my_series['key' or list of keys]
```
```
my_series.loc['key' or list of keys]
```
```
my_seroes.iloc[index or list of indexes]

___________________________________________________________

In [8]:
second_to_last = my_series.iloc[-2]
print('Second to last value:',second_to_last)
first_value = my_series.loc['a']
print('Value of a:', first_value)
more_values = my_series.loc[['a', 'b', 'c']]
print('Select multiple values:', more_values)

Second to last value: 24
Value of a: 12
Select multiple values: a     12
b     24
c    134
Name: My First Series, dtype: int64

###**3. Main Attributes**


```
my_series.values
```
```
my_series.index
```
```
my_series.name
```
```
my_series.dtype
```
```
my_series.size
```

In [10]:
print('All values:', my_series.values)
print('All indexes:', my_series.index)
print('Series name:', my_series.name)
print('Series data type:', my_series.dtype)
print('Number of values:', my_series.size)

All values: [ 12  24 134]
All indexes: Index(['a', 'b', 'c'], dtype='object')
Series name: My First Series
Series data type: int64
Number of values: 3

###**4. Statical methods**

In [11]:
my_series.describe()

count      3.000000
mean      56.666667
std       67.240861
min       12.000000
25%       18.000000
50%       24.000000
75%       79.000000
max      134.000000
Name: My First Series, dtype: float64

In [12]:
my_series.mean()

56.666666666666664

In [13]:
my_series.std()

67.2408605933426

In [15]:
my_series.min(), my_series.max()

(12, 134)

In [17]:
my_series.quantile(.25)

18.0

###**5. Sorting**
Sorting will set `inplace = False` by default so that it will return a series

To modify the series directly set `inplace = True` *(not recommended)*

In [19]:
my_series.sort_values(ascending = False)

c    134
b     24
a     12
Name: My First Series, dtype: int64

In [20]:
my_series.sort_index(ascending = False)

c    134
b     24
a     12
Name: My First Series, dtype: int64

In [21]:
my_series.sort_values(ascending = False,
                      inplace = True)

In [22]:
my_series

c    134
b     24
a     12
Name: My First Series, dtype: int64

### **6. Modify data**

Modify data

In [23]:
my_series['a'] = 1000

In [24]:
my_series

c     134
b      24
a    1000
Name: My First Series, dtype: int64

Add data

In [25]:
my_series['d'] = 124

In [26]:
my_series

c     134
b      24
a    1000
d     124
Name: My First Series, dtype: int64

Delete data

In [28]:
del my_series['c']
my_series

b      24
a    1000
d     124
Name: My First Series, dtype: int64

### **7. Concatenate**

In [30]:
another_series = pd.Series(['z', 'w', 'e'], index = ['1', '2','3'])

In [35]:
cat = pd.concat([my_series, another_series], axis = 0)
cat

b      24
a    1000
d     124
1       z
2       w
3       e
dtype: object

In [36]:
cat = pd.concat([my_series, another_series], axis = 1)
cat

   My First Series    0
b             24.0  NaN
a           1000.0  NaN
d            124.0  NaN
1              NaN    z
2              NaN    w
3              NaN    e